.list-item-image {
  height: 54px;
  width: 54px;
  margin: 8px;
}

.products-list-item {
  --padding-start: 0;
}

.product-list-item-title {
  margin-right: 8px;
  margin-left: 8px;
}

.products-list-item-title-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.products-list-item-price {
  margin-top: 8px;
  float: right;
}

.products-list-item-price-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.products-list-item-price-discount {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: red;
  margin-right: 8px;
  text-decoration: line-through
}

.product-list-item-discount-badge {
  position: absolute;
  margin: 4px;
  top: 0;
  width: 40px;
  left: 24px;
}