.basket-entry-counter-button {
  width: 28px;
  height: 28px;
}

.basket-entry-counter-button:active {
  color: var(--ion-color-primary);
}

.basket-entry-quantity {
  margin-left: 8px;
  margin-right: 8px;
  min-width: 2ch;
  text-align: center;
}

.basket-entry-trash-button {
  --padding-start: 8px;
  --padding-end: 8px;
}

.basket-entry-price-text {
  text-align: right;
}

.basket-entry-title {
  --padding-start: 0;
}

.basket-entry-title-text {
  font-size: 16px;
  float: left;
  margin-left: 4px;
}

.basket-entry-summary {
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.basket-loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.basket-empty {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center
}

.basket-submit {
  --padding-top:0;
  float: right;
}

.basket-summary-container {
  --padding-start: 16px;
  --padding-end: 16px;
  position: relative;
}