:root {
  --checkout-submit-height: 48px;
  --checkout-footer-padding: 8px;
}

.checkout-footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.checkout-footer-content {
  padding: var(--checkout-footer-padding);
  background-color: white;
}

.checkout-submit {
  max-width: 320px;
  width: 100%;
  height: var(--checkout-submit-height);
}

.checkout-basket {
  margin-bottom: calc(var(--checkout-submit-height) + var(--checkout-footer-padding) * 3);
}

.checkout-basket-entry {
  margin-right: 8px;
  width: 100%;
}

.checkout-basket-entry-price {
  float: right;
  margin-bottom: 8px;
}