<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418202053718-gfhcl83vqn1vscgqrsbt6jb7lofdcc4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418202053718-gfhcl83vqn1vscgqrsbt6jb7lofdcc4t</string>
	<key>API_KEY</key>
	<string>AIzaSyBaq0gZfXI0V4SAtGJcumGN7BXd5DUrzWI</string>
	<key>GCM_SENDER_ID</key>
	<string>418202053718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qulix.ecommercestore</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-store-80057</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-store-80057.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418202053718:ios:cc14a0354bd71689685ff7</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerce-store-80057.firebaseio.com</string>
</dict>
</plist>